[submodule "external/Eq"]
	path = external/Eq
	url = https://github.com/witte/Eq.git
[submodule "external/aap-juce"]
	path = external/aap-juce
	url = https://github.com/atsushieno/aap-juce.git
[submodule "external/android-audio-plugin-framework"]
	path = external/aap-core
	url = https://github.com/atsushieno/android-audio-plugin-framework.git
[submodule "external/aap-core"]
	path = external/aap-core
	url = https://github.com/atsushieno/aap-core.git
